<div  class="center hero-unit">
<h2 style="color:rgb(128, 128, 128)">详细的表单</h2>
<table class="table table-strip">
<tr>
<th>字段类型</th>
<th></th>
<th>字段名称</th>
<th></th>
<th>数据内容</th>
</tr>
    <tr>
        <%@values.each do |v|%>
        <td><%=v.label%><td>
        <td><%=v.name%><td>
      
</tr>
        <%end%>
        </table>
        </div>