<div class="container">
<div  class="center hero-unit" style="background: beige ">
<h1 style="color:rgb(128, 128, 128)"><%=@values.first.filed.form.name %></h1>
</div>
<div class="center hero-unit" style="background: linear-gradient(lavender,whitesmoke)">
<table class="table table-strip center">


        <%@values.each do |v|%>
    <tr>
        <td><%=v.filed.label%><td>
        <td><%=v.content%><td>
    </tr>
        <%end%>

        </table>

</div>
</div>