<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>动态表单|填写</title>
  <script type="text/javascript" src='/jquery.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
<!--  <script src="/jquery.validate.min.js"></script>-->
</head>
<body>
<script>
    $.getScript('plugin.js', function(){
        window.plugin.init();
    });
</script>
<h3 style="color: #B00100">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end%>
</h3>
<div id="fb_editor">
<h1 style="color:rgb(149, 171, 182)">填写表单
</h1>
<div id="qrcode"></div>
<p>想要分享给别人？</p>
<a id="b1" onclick="onClickB1()">分享表单链接</a>
</div>
</body>

<script>

    $(document).ready(function(){
        var fbTemplate = document.getElementById('fb_editor');
        var formData =  '<%= raw @json_form%>'
        var options ={ 
            i18n: {
                locale: "zh-CN"
            },
            stickyControls: {
                enable: true
            },
         disabledFieldButtons: {
          text: ['remove','edit','copy'],
          number: ['remove','edit','copy'],
          date: ['remove','edit','copy'],
          textarea: ['remove','edit','copy'],
          select: ['remove','edit','copy'],
          },
            disableFields: ['autocomplete', 'button', 'header', 'hidden', 'paragraph', 'number', 'textarea', 'text', 'radio-group', 'checkbox-group', 'date', 'file', 'select'],
            actionButtons: [{
                id: 'saveForm',
                className: 'btn btn-success',
                label: '提交',
                type: 'button',
                events: {
                    click: function () {
                        
                        var x=formBuilder.actions.getData("json", true)
                        x=eval( x)
                        var tag=0
                        var value_num=false
                        for(var i=0;i<x.length;i++)
                        {
                            var must_in=x[i]["required"] 
                            var value=x[i]["value"]
                            var type=x[i]["type"]
                            var max=x[i]["max"]
                            var min=x[i]["min"] 
                            var subtype=x[i]["subtype"]

                            if (type == "select")
                            {
                                value=true
                            }
                            if (value )
                            {
                                value_num=true
                            }
                            if (must_in && !value)
                            {
                                tag = 2 
                            }
                            if(min && max && min <= max && !(value.length >= min && value.length <= max))  
                            {
                                    tag =2 
                            } 
                            
                            if(subtype == "password" && !(value =~ /^(?![0-9a-z]+$)(?![a-zA-Z]+$)(?![0-9A-Z]+$)[0-9a-zA-Z]{6,}$/) )
                            {
                                tag = 2
                            }
                            
                            if (subtype == "tel" && !(/^1[3456789]\d{9}$/.test( parseInt(value))))
                            {
                                tag = 2
                            }

                            if (subtype == "email" && !(value=~/^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/))
                            {
                                tag = 2
                            }
                           
                        }

                        if (!value_num)
                        {tag=2}
                        if (tag == 0){
                            tag=2
                            $.ajax({
                                url: "/save",
                                data: {
                                    properties: formBuilder.actions.getData("json", true)
                                },
                                method: "post"
                            }).done(function (result) {
                               
                                if (result.errcode == 0) {
                                    swal({
                                        title: result.errmsg
                                    }, function(){
                                        window.location.reload();
                                    });
                                } else {
                                    swal({
                                        title: "保存失败",
                                        text: result.errmsg
                                    })
                                }
                            })
                        }
                        else {
                            tag=0
                            alert("请检查输入！");
                            }
                    }
                },
            }],
            disabledActionButtons: ['data', 'save','clear'],
            dataType: "json",
            formData: formData
        };
        var formBuilder = $(fbTemplate).formBuilder(options);
    });
    function onClickB1() {
            prompt("复制下来分享给别人吧",window.location.href);
    }
    thisURL = document.URL;
    strwrite =
        "<img src='https://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=L|4&chl="
        + thisURL + "' width='150' height='150' alt= #{window.location.href}/>";
    document.write( strwrite );

</script>
</html>