<% provide(:xx ,"主页") %>
<div class="center hero-unit">
<h1 style="color:rgb(149, 171, 182)">动态表单
</h1>

<% if signed_in? %>
     <p>欢迎您</p>
  <h2>   <%= current_user.name%></h2>
 
<% else %>
    <%= link_to '登陆' , login_path%>
<% end %>
<ul>

</ul>
</div>