@import "bootstrap";
@import "bootstrap-datepicker3";
$gray:#999;
html {
    overflow-y: scroll;
}
body{
    padding-top: 60px;
    color: #333333;
    // text-align: center;
}
table {margin: auto;}
section{
    overflow: auto;
    padding-left: 200px;
    padding-right: 200px;
}

textarea{
    resize: vertical;
}
.center{
    text-align: center;
    h1{
        margin-bottom: 10px;
    }
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 2.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray;
}
h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
        color: rgb(170, 162, 162);
        text-decoration: none;
    }
}
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #b1acac;
    color: $gray;sss
    a {
        color: #555;
        &:hover {
            color: #222;
        }
    small {
            float: left;
        }
    ul {
            float: right;
            list-style: none;
            li {
                float: left;
                margin-left: 10px;
            }
        }
    }
    }
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
aside{
    textarea{
        height: 100px;
        margin-bottom: 5px;
    }
    section{
        padding: 10px;
        border-top: 1px solid $gray;
        &:first-child{
            border: 0;
            padding-top: 0;
        }
        h1{
            font-size: 2.2em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}
.gravatar {
    float: left;
    margin-right: 10px;
    }
input ,textarea,select, .uneditable-input{
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    @include box_sizing;
}
input{
    height: auto !important;
}
#error_explanation {
    color: #f00;
    ul {
    list-style: none;
    margin: 0 0 18px 0;
    }
    }
.field_with_errors {
@extend .control-group;
@extend .error;
}
.users{
    list-style: none;
    margin: 0;
    li{
        overflow: auto;
        padding: 10px 0;
        border-top: 1px solid $gray;
        &:last-child{
            border-bottom: 1px solid $gray;
        }
    }
}
.micro_blogs{
    list-style: none;
    margin: 10px 0 0 0;
    li{
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;   
    }
}
.content{
    display: block;
}
.timestamp{
    color: $gray;
}
.stats{
    overflow: auto;
    a {
        float: left;
        padding: 0 10px;
        border-left: 1px solid $gray;
        color: gray;
        &:first-child {
        padding-left: 0;
        border: 0;
        }
        & :hover {
        text-decoration: none;
        color: $blue;
        }
        }
        strong {
        display: block;
        }
}
.user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
    margin: 1px 1px;
    }
    }
.survey-items {
    background: rgb(149, 171, 182);
    border-radius: 2px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px 0px rgb(131, 124, 199);
    border: 1px solid rgb(113, 152, 211);
}
.mxl{
   color:rgb(199, 197, 197)
}
span {
  display:inline-block;
  width:49%;
}
span2 {
  display:inline-block;
  width:19%;
}